<div
  class="board bg-dark-500 mx-auto mb-6 pt-5 pb-5 pl-5 pr-5 rounded-2 shadow-2"
>
  <div class="d-flex flex-column gap-sm">
    <div class="d-flex gap-sm">
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
    </div>
    <div class="d-flex gap-sm">
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
    </div>
    <div class="d-flex gap-sm">
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
      <button type="button" class="board__cell d-block bg-dark-400 bg-hover-dark-300 rounded-2"></button>
    </div>
  </div>
</div>
