.board {
    max-width: 19.5rem;
}
.board__cell {
    min-width: 5rem;
    min-height: 5rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.board__cell:disabled {
    cursor: not-allowed;
}
.finish {
    cursor: not-allowed;
    opacity: 86%;
}