<main
  class="d-flex flex-column align-items-center justify-content-center mh-100vh w-100 bg-secondary-100"
>
  <div>
    <p class="heading-2 text-center">
      <b>Counter: {{ count }}</b>
    </p>
    <div class="d-flex gap">
      <button
        (click)="handleCounterIncrement()"
        class="button button--dark shadow-1"
        type="button"
      >
        <b>Increment</b>
      </button>
      <button class="button button--light shadow-1" type="button">
        <b>Decrement</b>
      </button>
    </div>
  </div>
</main>
