<div class="d-flex justify-content-center gap-lg pt-6 pb-6 mt-6 mb-2">
    <button class="option heading-2 button button--secondary rounded-circle" title="Rock" aria-label="Select rock">
        ✊
    </button>
    <button class="option heading-2 button button--secondary rounded-circle" title="Paper" aria-label="Select paper">
        ✋
    </button>
    <button class="option heading-2 button button--secondary rounded-circle" title="Scissors" aria-label="Select scissors">
        ✌️
    </button>
</div>