<main
  class="bg-danger-400 pt-6 pb-6 d-flex flex-column align-items-center justify-content-center w-100 mh-100vh"
>
  <div class="wrapper d-flex flex-column justify-content-center bg-light-50 shadow-1 rounded-3 pt-6 pb-6 pl-6 pr-6 pos-relative">
    @if (status !== 'win' && status !== 'loose') {
    <div>
      <p class="heading-6 text-center text-dark-400">
        <b>I am thinking a number between 1-100.</b>
      </p>
      <p class="heading-6 text-center text-dark-400 mb-6">
        <b>Can you guess it?</b>
      </p>
      <form
        #form="ngForm"
        (ngSubmit)="handleSubmit(form)"
        class="d-flex gap gap--sm mx-auto mb-6 w-50"
      >
        <input
          (input)="handleGuessedNumberChange()"
          type="number"
          name="guessedNumber"
          id="numberInput"
          class="form__control text-center"
          [min]="minNumber"
          [max]="maxNumber"
          ngModel
          required
          min="1"
          max="100"
        />
        <button
          class="button button--info"
          type="submit"
          [disabled]="form.invalid"
        >
          <b>Guess</b>
        </button>
      </form>
      <p class="text-center text-dark-400">Attempts left: {{ attempts }}</p>
      <p class="text-center text-dark-400">Guessed numbers are: {{guessedNumbers}}</p>
    </div>
    } @else {
    <button (click)="handleReset()" class="button button--info mx-auto d-block mb-6" type="button">
      <b>Play again</b>
    </button>
    } @if (status === 'failed' || status === 'win' || status === 'loose') {
    <p
      class="d-block pt-4 pb-4 pl-4 pr-4 rounded-2 pos-absolute bottom-0 left-0 right-0 ml-5 mr-5  mb-5"
      [ngClass]="{
        'bg-danger-50 text-danger-700': status === 'failed' || status === 'loose',
        'bg-success-50 text-success-700': status === 'win',
      }"
    >
      <b>{{ guessedNumberStatus | capitalize }}</b> {{ message }}
    </p>
    }
  </div>
</main>